
textarea{
    width: 80%;
    padding: 1rem;
    height: 10vh;
    display: block; 
    margin: 1rem;;
}

button{
    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

#output{
    border: 1px solid black;
    height: 10vh;
    display: block;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}